<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Templates module to Lazy8Web Change log</TITLE>
	<STYLE TYPE="text/css">
	</STYLE>
</HEAD>
<BODY LANG="en_US">

<h1>Templates module to Lazy8Web Change log</h1>

<h2>Version 1.02 2011-02-27</h2>
<p>
<ul>
	<li>Some very minor translation errors in the template screens fixed.</li>	
</ul>
</p>

<h2>Version 1.01 2011-02-22</h2>
<p>
<ul>
	<li>phpcalc field in Templates did not work for credit values. Fixed. Since the 
	templates module is included in this release then this release must have a new
	version number as well</li>	
</ul>
</p>

<h2>Version 1.00 2011-02-11</h2>
<p>
<ul>
	<li>The first release of the Templates module.</li>
</ul>
</p>

</BODY>
</HTML>
